global
    maxconn 100

defaults
    log global
    mode tcp
    retries 3
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

listen postgres_cluster
    bind 0.0.0.0:5432
    mode tcp
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    
    server pg-node1 pg-node1:5432 maxconn 100 check port 8008
    server pg-node2 pg-node2:5432 maxconn 100 check port 8008

frontend stats
    bind *:7000
    mode http
    http-request use-service prometheus-exporter if { path /metrics }
    stats enable
    stats uri /stats
    stats refresh 5s

