[defaults]
# Путь к файлу со списком серверов по умолчанию. 
inventory = inventory/hosts.ini

# Отключает проверку новых SSH-ключей. 
host_key_checking = False

# Пользователь по умолчанию, под которым Ansible будет подключаться по SSH
remote_user = root 

# Отключает вывод предупреждений об устаревших модулях (чтобы вывод в терминале был чище)
deprecation_warnings = False

# Если задачи выполняются долго (например, скачивание больших Docker-образов), 
# это не даст SSH-соединению оборваться по таймауту
timeout = 30

[privilege_escalation]
# Автоматически использовать sudo для всех команд
become = True
become_method = sudo
become_user = root